<!DOCTYPE html>  
<html>  
<head>  
    <title>Add Agent</title>  
</head>  
<body>  
    <h2>Agnet Information</h2>   
    <form action = "/save_agent_details" method="post">  
    <table>  
        <tr><td>Name</td><td><input type="text" name="name"></td></tr>  
        <tr><td>Email</td><td><input type="email" name="email"></td></tr>  
        <tr><td>Password</td><td><input type="text" name="password"></td></tr>  
        <tr><td>Personal Number</td><td><input type="text" name="personal_number"></td></tr>
        <tr><td>Office Number</td><td><input type="text" name="office_number"></td></tr>
        <tr><td>Sip Address</td><td><input type="text" name="sip_address"></td></tr>
        <tr><td>Sip Username</td><td><input type="text" name="sip_user_name"></td></tr>
        <tr><td>Sip Password</td><td><input type="text" name="sip_password"></td></tr>
        <tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>  
</body>  
</html>  
