{% extends "html_template.html" %}
{% block login %}
<div class="d-flex align-items-center justify-content-center vh-100">
    <div class="col-9 col-md-4 col-lg-3 border rounded-3 p-3">
        <form method='POST' action="" class="mb-3">
            {{ form.hidden_tag() }}
           
             <h3 class="mb-4">Log In</h3>
             <div class="mb-3">
              {{ form.email.label(class="form-control-label")}}
              {% if form.email.errors %}
               {{ form.email(class="form-control form-control-lg is-invalid") }}
               <div class="invalid-feedback">
                {% for error in form.email.errors %}
                 <span>{{ error }}</span>
                {% endfor %}
               </div>
              {% else %}  
               {{ form.email(class="form-control form-control-lg")}}
              {% endif %}
             </div>
             <div class="mb-3">
              {{ form.password.label(class="form-control-label")}}
              {% if form.password.errors %}
               {{ form.password(class="form-control form-control-lg is-invalid") }}
               <div class="invalid-feedback">
                {% for error in form.password.errors %}
                 <span>{{ error }}</span>
                {% endfor %}
               </div>
              {% else %}
               {{ form.password(class="form-control form-control-lg")}}
              {% endif %}
             </div>
             <div class="mb-3">
              {{ form.remember(class="form-check-input") }} 
              {{ form.remember.label(class="form-check-label") }}
             </div>
            
            <div class="mb-3">
             {{ form.submit(class="btn btn-primary")}}
            </div>
           </form>
    </div>
</div> 

{% endblock login %}
